spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  jackson:
    deserialization:
      fail-on-unknown-properties: true
    time-zone: Asia/Seoul

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
