name: CI / CD using Github actions & docker

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

permissions:
  pull-requests: write
  contents: write
  checks: write


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Test with Gradle
        run: ./gradlew test

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: ${{ always() }}
        with:
          files: build/test-results/test/TEST-*.xml

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4

      - name: Docker Image Build
        run: docker build --platform linux/amd64 -t ggongtae/atwoz .

      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Push Image
        run: docker push ggongtae/atwoz

      - name: Login to EC2 & Pull Image & Run Shell Script
        run: |
          echo "${{secrets.SSH_PEM_KEY}}" > $HOME/key.pem
          chmod 400 $HOME/key.pem
          
          ssh -t -i $HOME/key.pem -o StrictHostKeyChecking=no ${{secrets.EC2_USERNAME}}@${{secrets.EC2_HOST}} << 'EOF'
            # Export environment variable inside the SSH session
            export ENV="${{secrets.ENV}}"

            # Alternatively, create the .env file directly on the EC2 instance
            echo "$ENV" > /home/ec2-user/.env

            # Run the deploy script with sudo
            echo "Run Deploy Script" 
            sudo /home/ec2-user/deploy_script.sh
          
            # Exit SSH session.
            exit
          EOF
